body {
  height: 100vh;
  background-color: rgb(0, 0, 0)!important;
  margin: 0;
  padding: 0;
}

html body div#root nav.border-bottom.navbar.navbar-expand-lg.navbar-light.bg-dark {
  padding: 10px;
}
